html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.container{
    height: 100%;
}

.t {
    height: 10%;
}

.m {
    height: 80%;
}

.b {
    height: 10%;
}

.text{
    margin-right:10px;
}
.right{
    text-align:right;
}
.left{
    text-align:left;
}
.logo{
    text-align: center;
}
.center{
    text-align: center;
}

#search{
    border-radius: 50px;
    font-size: 16px;
    width: 30%;
    height: 5%;
}

.img{
    display: inline;
}
.fixed-area{
    width: 100px;
    /* align : 맞추다,정렬하다 */
    text-align: center;
    font-size: 10px;
    position: fixed;
    /* fixed 요소는 화면(뷰포트,브라우저)기준으로 배치됨
       +다른 요소와 겹쳐질 수 있고,
       별도로 화면을 차지하려고 하지 않음 */

    bottom: 50px;
    right:50px;
 
}

.fixed-area>a{
    border :1px solid black;
    border-radius: 20px;
    font-size: 10px;
 
}
.text{
     display: inline;
     margin-left:10px;
    margin-right: 35px;
    text-align: center;
}